/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 400px) {
    #shoot, #shoot-logo {
        margin-top: 50%;
        margin-bottom: 45%;
        width: 70%;
    }
    p {
        font-size: 120%;
    }
    #defn {
        font-size: 80%;
    }
    #soon {
        font-size: 80%;
    }
    .finalNote {
        font-size: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }
    #fullLogoBottom {
        width: 45%;
        margin-bottom: -25%;
    }
    a,
    i {
        font-size: 150%;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10%;
        margin-bottom: 20%;
    }
    input {
        width: 90%;
    }

    .para{
        font-size: 1em;
      }

      #arrow{
        padding-bottom: 30%;
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 400px) {
    #shoot, #shoot-logo {
        margin-top: 25%;
        margin-bottom: 26%;
        width: 70%;
    }
    p {
        font-size: 120%;
    }
    #defn {
        font-size: 100%;
    }
    #soon {
        font-size: 80%;
    }
    .finalNote {
        font-size: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }
    a,
    i {
        font-size: 150%;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 10%;
        margin-bottom: 20%;
    }
    input {
        width: 100%;
    }
    #fullLogoBottom {
        width: 40%;
        margin-bottom: -25%;
    }
    .para{
        font-size: 1.4em;
      } 

    /*Issues separating button and input*/
    button {
        margin-top: 100px;
    }
  
}
/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    #shoot, #shoot-logo {
        margin-top: 25%;
        margin-bottom: 20%;
        width: 70%;
    }
    p {
        font-size: 120%;
    }
    #defn {
        font-size: 100%;
    }
    #soon {
        font-size: 80%;
    }
    .finalNote {
        font-size: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }
    a,
    i {
        font-size: 150%;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 10%;
        margin-bottom: 20%;
    }
    input {
        width: 100%;
    }
    #fullLogoBottom {
        width: 40%;
        margin-bottom: -25%;
    }
    .para{
        font-size: 1.4em;
      } 

    /*Issues separating button and input*/
    button {
        margin-top: 100px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    #shoot, #shoot-logo {
        margin-top: 20%;
        margin-bottom: 15%;
        width: 50%;
    }
    #fullLogoBottom {
        width: 40%;
        margin-bottom: -20%;
    }
    .para{
        font-size: 1.5em;
      }

   
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    input {
        width: 50%;
    }
    #shoot, #shoot-logo {
        margin-top: 15%;
        margin-bottom: 10%;
        width: 40%;
    }
    #fullLogoBottom {
        width: 30%;
        margin-bottom: -10%;
    }
    .para{
        font-size: 1.5em;
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    input {
        width: 50%;
    }
    p {
        font-size: 200%;
    }
  
    #defn {
        font-size: 150%;
    }
    #soon {
        font-size: 100%;
    }
    #shoot, #shoot-logo{
        margin-top: 10%;
        margin-bottom: 15%;
        width: 35%;
    }
    #fullLogoBottom {
        width: 20%;
        margin-bottom: -8%;
    }
    .finalNote {
        font-size: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }
}

/*FHD laptops*/
@media only screen and (min-width: 1600px) {
    input {
        width: 50%;
    }
    p {
        font-size: 200%;
    }
  
    #defn {
        font-size: 150%;
    }
    #soon {
        font-size: 100%;
    }
    #shoot, #shoot-logo {
        margin-top: 10%;
        margin-bottom: 15%;
        width: 35%;
    }
    #fullLogoBottom {
        width: 20%;
        margin-bottom: -8%;
    }
    .finalNote {
        font-size: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .para{
        font-size: 1.5em;
      }
}