* {
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 1.5px;
  background: #ffffff;
}


html {
  margin: 0;
  height: 100%;
  width: 100%;
}

/*Styling for Form elements*/

.form {
  margin-top: 5%;
}

input {
  text-align: center;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-color: #000000;
  border-radius: 20px;
  background: white;
}

/*Logo and text styling*/

#shootlogo {
  margin-top: 25%;
  margin-bottom: 35%;
  width: 40%;
  animation: fadein 4s;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

#fullLogoBottom {
  width: 20%;
  margin-bottom: -10%;
}

#atelier {
  color: rgb(53, 53, 53);
}

.secondP {
  margin-top: 60px;
}

p {
  text-align: center;
  letter-spacing: 2px;
  word-wrap: normal;
  font-size: 400%;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  color: #000000;
}
.para{
  font-size: 1.5em;
}

mark{
  font-size: inherit;
}

.finalNote {
  text-align: center;
  font-size: 90%;
  padding-top: 5%;
  padding-left: 30%;
  padding-right: 30%;
  color: #000000;
}

a:hover,
a:visited,
a:link {
  text-decoration: none;
  text-anchor: none;
}

a,
i {
  font-size: 200%;
  margin-bottom: 20%;
  color: black;
}

.fa-twitter:hover {
  color: #00aced;
  transition: 0.5s;
}

.fa-instagram:hover {
  color: #bc2a8d;
  transition: 0.5s;
}

.fa-spotify:hover {
  color: #1db954;
  transition: 0.5s;
}

*:focus {
  outline: none;
}

.centered{    /*centers item*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


#purple{
  background-color: #F9CAF0;
  color: black;
}

#pink{
  background-color: #F7b2b7;
  color: black;
}

#pastel-pink{
  background-color: #F4C2B3;
  color: black;
}

#yellow{
  background-color: #F7E9B0;
  color: black;
}

#camera{
  width: 30%;
  height: auto;
}
/*
body {
  background: linear-gradient(140deg, #DD0C8B, #E52127, #F15B22, #FDD31C);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #119D86;
}*/

.container2 {
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background:#B2B2B2;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #B2B2B2;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

#arrow{
  margin-bottom: 20%;
}

